<div class="well search-results">
  <h1>Search Results</h1>
  <hr>
  <% exclude_current_user(@users).each do |user| %>
    <div class="media">
        <%= image_tag('http://i.imgur.com/UzrXKTs.gif', class: 'pull-left') %>
      <div class="media-body">
        <h4 class="media-heading"><%= user.name %></h4>
        <p>
          Do you know <%= user.name %>? 
        </p>
          <%= link_to "Add Me", friendships_path(user), class:'btn btn-success', method: 'post' %>
      </div>
    </div>
  <% end %>
</div>
