body {
  text-align: center;
  color: black;
  position: relative;
}


#videobcg { 
     position: absolute;
     top: 0px;
     left: 0px;
     z-index: -200;
     overflow: hidden;
}

.overlay {
  background-color: #e3e3e3;
  position: absolute;
  z-index: -10;
  opacity: 0.95;
  height: 100%;
  width: 100%;
}

.main-heading {
  position: absolute;
  z-index: 10;
  color: white;
  text-align: center;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.main-heading > h1 {
  font-size: 150px;
}

.homepage>p>a {
  color:white;
}

.register-btn {
}

#myModal{
  opacity: 0.95;
}

