html, body {
  height: 100%;
}
body {
  text-align: center;
  color: black;
  position: relative;
}

.homepage {
  height: 100%;
}

#videobcg { 
     position: absolute;
     top: 0px;
     left: 0px;
     z-index: -200;
     overflow: hidden;
}

.main-heading {
  position: absolute;
  z-index: 10;
  color: white;
  text-align: center;
  right: 0;
  left: 0;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
}

.main-heading > h1 {
  font-size: 150px;
}

.homepage>p>a {
  color:white;
}

#myModal{
  opacity: 0.95;
}

#transparent {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: black;
  opacity: 0.5;
}

.navbar {
  margin: 0;
  border-radius: 0px;
}

