.trips-main-content {
  max-width: 1080px;
  margin: 0 auto;
  vertical-align: top;
}

.trips {
  float: right;
}

.users {
  float: left;
}

.trip-new {
  max-width: 750px;
}

h1 {
  display: inline;
  vertical-align: middle;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.add-friend {
  display: inline;
}

#map {
  height: 200px;
}

