.trips-main-content {
  max-width: 1080px;
  margin: 0 auto;
  vertical-align: top;
}

.trips {
  float: right;
}

.users {
  float: left;
}

.friends {
  margin-top: 5px;
  max-height: 100vh;
  overflow-y: auto;
}

.trip-new {
  max-width: 750px;
}

h1 {
  display: inline;
  vertical-align: middle;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.add-friend {
  display: inline;
}

#map {
  height: 60%;
}

.your-well {
  display: inline;
  vertical-align: top;
}

.buttons {
  text-align: right;
}

.top-tabs {
  background-color: rgba(96, 87, 101, 1);
  color: white;
}

.trip-detail {
  margin-top: 5px;
}

.trip-view-port {
  max-height: 60%;
  overflow-y: auto;
}

.well-sm {
  min-height: 60%;
  margin-bottom: 5px;
}

.static-well {
  height: 90vh;
  background-color: #F6F7F8;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px;
}

#description {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 20px;
}

#calendar {
  display: inline-block;
}
