body {
  text-align: left;
}

.users-main-content {
  max-width: 1000px;
  margin: 0 auto;
}

.register {
  max-width: 500px;
}

#videobcg { 
     position: absolute;
     top: 0px;
     left: 0px;
     z-index: -200;
     overflow: hidden;
}

.search-results {
  max-width: 700px;
  margin: 0 auto;
}

.media > a > img {
  margin-right: 10px;
}

.badges {
  display: inline;
} 

.search-body {
  max-height: 460px;
  overflow-y: auto;
}

.search-img {
  margin-right: 10px
}

.static-well {
  height: 90vh;
  background-color: #F6F7F8;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px;
}
