body {
  text-align: left;
}

.users-main-content {
  max-width: 1000px;
  margin: 0 auto;
}

.register {
  max-width: 500px;
}

#videobcg { 
     position: absolute;
     top: 0px;
     left: 0px;
     z-index: -200;
     overflow: hidden;
}
